:root {
  --color-bg: rgb(13, 16, 23);
  --color-bg-light: rgb(22, 27, 33);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-blue: rgb(88, 166, 255);
  --color-gray: rgb(128, 128, 128);
}
/* 
@font-face {
  font-family: ;
  src: url();
} */

body {
  background-color: var(--color-bg);
  color: var(--color-blue);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-blue);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-blue);
  margin: 0;
  padding: 10px 0;
}

P {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-white);
}

.p-linkedin {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-blue);
}

.p-repo__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-white);
  margin: 0;
}

.p-repo__description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-gray);
  margin: 0;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--color-blue);
}

.avatar__search {
  width: 100px;
  height: 100px;
}

.pgm-team__results {
  border: 1px solid var(--color-bg-light);
}

/* .pgm-team__result {
  border: 1px solid var(--color-bg-light);
  background-image: url(`${thumbnail}`);
} */

.teamDisplay {
  height: 400px;
}

.repo__result {
  border: 0.1px solid var(--color-gray);
}

.icon {
  margin: 0;
  padding: 0;
}

.intro {
  color: var(--color-white);
  background: none;
}
